.reveal .slide-logo {
    height: 100px !important;
    width: 100px !important;
    max-width: unset !important;
    max-height: unset !important;
  }

.reveal .slides {
    font-size: 70%; /* Reduce el tamaño del texto al 80% */
}